# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
Lab2/.idea

# Дополнительно (по желанию)
.DS_Store
.vscode/
*.log

Lab2/.coverage
Lab2/commands.py
Lab2/.venv
Lab2/.pytest_cache
.pytest_cache
.coverage
commands.py